@page "/"
@inject IDialogService _dialogService
@inject NodeProfileService _nodeProfileService
@inject OpenAiService _openAiService

<PageTitle>@_nodeProfileService.Profile.Name | Dashboard</PageTitle>

<MudGrid>
    <MudItem xs="3">
        <MudPaper Elevation="2" Class="ma-2 pa-2">
            <MudText Typo="Typo.h6">Hardware</MudText>
            <MudList>
                @foreach (GpuProfile device in _nodeProfileService.Profile.Gpus)
                {
                    <MudListItem>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.Memory" />
                            <MudText Typo="Typo.body1">@($"gpu{device.Index}")</MudText>
                        </MudStack>
                            <MudText Typo="Typo.caption">@($"{device.Name} ({device.MemoryTotal}GB VRAM)")</MudText>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    </MudItem>

    <MudItem xs="3">
        <MudPaper Elevation="2" Class="ma-2 pa-2">
            <MudText Typo="Typo.h6">Software</MudText>
            <MudSimpleTable Dense="true">
                <thead>
                    <tr>
                        <th>Software</th>
                        <th>Present?</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Python</td>
                        <td>@_nodeProfileService.Profile.PythonRuntime.IsPresent</td>
                        <td>@_nodeProfileService.Profile.PythonRuntime.InstalledVersion</td>
                    </tr>
                    @foreach (var module in _nodeProfileService.Profile.PythonModules)
                    {
                        <tr>
                            <td>@module.Name</td>
                            <td>@module.IsPresent</td>
                            <td>@module.InstalledVersion</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudPaper>
    </MudItem>

    <MudItem xs="3">
        <MudPaper Elevation="2" Class="ma-2 pa-2">
            <MudText Typo="Typo.h6">APIs</MudText>
            <MudSimpleTable Dense="true">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OpenAI</td>
                        <td>
                            @if (!_openAiService.IsApiKeySet())
                            {
                                <MudLink OnClick="EnterOpenAiApiKey">Enter OpenAI API Key</MudLink>
                            }
                            else
                            {
                                <MudChip OnClick="EnterOpenAiApiKey" Color="Color.Success" Size="Size.Small">OpenAI API Key Entered</MudChip>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>wandb</td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    private async Task EnterOpenAiApiKey()
    {
        string key = "";
        var dialogParams = new DialogParameters();
        dialogParams.Add("Item", key);
        dialogParams.Add("Label", "OpenAI API Key");
        var dialog = _dialogService.Show<StringEditDialog>("Enter OpenAI API Key", dialogParams);
        var result = await dialog.Result;
        if (result.Canceled) return;
        key = (string)result.Data;
        if (!String.IsNullOrEmpty(key)) await _openAiService.SetApiKey(key);
        await InvokeAsync(StateHasChanged);
    }
}
